:root {
  box-sizing: border-box;
  font-size: calc(.5em + 1vw);
  --light-color: #f7f7ff;
  --dark-color: #225;
  --bg-color: #ccc;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: .75rem;
  line-height: 1.5em; 
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background: var(--bg-color);
}
.title,
.header,
.contacts {
  font-family: 'Raleway', Arial, sans-serif;
}

.content {
  margin: 0 auto;
  max-width: 90%;
  max-width: 1200px;
  display: flex;
  box-shadow: -8px 13px 18px 7px rgba(0,0,0,0.53);
}

.main {
  width: 66.6%;
  padding: 2.5rem 3rem 2.5rem 2rem;
  background: var(--light-color);
  color: var(--dark-color);
}

.aside {
  width: 33.3%;
  padding: 2.5rem 2rem 2.5rem 3rem;
  background: var(--dark-color);
  color: var(--light-color);
}

@media (max-width: 1024px) {
  body {
    font-size: .85rem;
  }
  .main {
    background: pink;
    padding: 2rem 2.5rem 2rem 1.5rem;
  }
  .aside {
    padding: 2rem 1.5rem 2rem 2.5rem;
  }
}
@media (max-width: 768px) {
  body {
    font-size: .9rem;
  }
  .content {
    flex-direction: column;
  }
  .main {
    width: 100%;
    background: lightblue;
  }
  .aside {
    width: 100%;
  }

}

.name,
.job-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .12em;
}

.name {
  position: relative;
  font-weight: 500;
  /* font-size: 1.3rem; */
}

/* horizontal line */
.name:after {
  position: absolute;
  content: '';
  margin: 0 auto;
  width: 8em;
  height: .1rem;
  left: 0;
  right: 0;
  bottom: -.9em; 
  background: var(--dark-color);
}

.job-title {
  margin-top: 2rem;
}

.section {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.title {
  position: relative;
  display: inline;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .85rem;
}

/* margin-bottom for .title */
.title + * {
  margin-top: 1.2rem;
}

/* horizontal line */
.title:after {
  position: absolute;
  content: '';
  left: 0;
  right: .5em;
  bottom: -.7em; 
  height: .1rem;
} 

.main .title::after {
  background: var(--dark-color);
}

.aside .title::after {
  background: var(--light-color);
}

.subtitle {
  text-transform: uppercase;
  margin-top: .6em;
  margin-bottom: .6em;
  font-weight: normal;
  /* font-size: 1em; */
}

p {
  font-family: Helvetica, Arial, sans-serif;
} 

.photo {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fff;
  height: calc(15em);
  width: calc(15em);
  border-radius: 50%;
  background: lightcoral;
  overflow: hidden;
}
.photo > img {
  width: 100%;
}

.contacts {
  list-style: none;
}

li {
  margin-top: .5rem;
}

li > i + * {
  margin-left: .5em;
}

.strengths > li {
  display: inline;
}
.strengths > li:not(:last-child)::after {
  content: ",";
}

.job {
  display: flex;
  justify-content: space-between;
}

.period {
  color: #446;
}

.skills {
  list-style: none;
}

.skills ul {
  margin-left: .5rem;
  /* list-style-type: circle; */
}

.skills ul > li {
  display: inline;
}
.skills ul > li:not(:last-child)::after {
  content: ",";
}

.strengths {
  /* list-style-type: circle; */
  /* margin-left: 1rem; */
}

a:link {
  text-decoration: none;
}

.main a:link {
  color: var(--dark-color);
}

.main a:visited {
  color: var(--dark-color);
}

.main a:hover {
  color: grey;

}

.main a:active {
  color: red;
}

.aside a:link {
  text-decoration: none;
  color: var(--light-color);
}

.aside a:visited {
  color: var(--light-color);
}

.aside a:hover {
  color: grey;
}

.aside a:active {
  color: red;
}